.login_container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_card{
    display: flex;
    flex-direction: column;
    
    text-align: center;
    background-color: white;
    gap: 1.6rem;
    padding: 1rem 2rem 3rem ;
    border-radius: 10px;
    box-shadow: 0 0 2px 5px #e9e9e9;
}
.login_card_head img{
    width: 200px;
}
.login_card input, .login_card button{
    width: 100%;
    height: 30px;
    margin-block: 7px;

}
.login_card input{
    padding-left: 10px;
}
.login_card button{
    cursor: pointer;
    background-color: dodgerblue;
    color: white;
    border: none;
    outline: none;
    white-space: nowrap;
    border-radius: 5px;
}
.login_card button:hover{
    background-color: rgb(89, 171, 252);

}
.loginFormErrorClass{
    font-size: 12px;
    color: red;
}